
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoleList</title>
</head>
<body>
    <button type="button" onclick="javascript:location.href='InsertUser'">添加</button>
    <table>
        <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>管理操作</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>
